.dropDownLitlle {
  .contain {
    display: flex;
    flex-direction: column;
  }
  .contain_title_svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 47px;
    width: 528px;
    padding: 0 19px 0px 19px;
    margin-top: 31px;
    background-color: $primary;
    z-index: 1;
    cursor: pointer;

    p {
      color: white;
      font-size: 24px;
    }

    span {
      color: white;
    }
  }

  .contain_text {
    display: none;
    background: #f7f7f7;
    border-radius: 0px 0px 5px 5px;
    width: 528px;
    overflow: hidden;
    margin-top: -10px;
    padding: 30px 18px 19px 18px;
  }

  .show {
    @extend .contain_text;
    display: flex;
    flex-direction: column;

    .text_list {
      margin-bottom: 6px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contain {
    width: 100%;

    svg {
      height: 10px;
    }

    .contain_title_svg {
      width: auto;
      height: 30px;

      p {
        font-size: 13px;
      }
    }

    .text_list {
      font-size: 12px;
    }
    .contain_text {
      width: auto;
      font-size: 12px;
    }
  }
}
