.home {
  padding: 0 100px 0 100px;
  .contain-announcement {
    height: auto;
    margin-top: 43px;
    background-color: $secondary;
    padding: 56px 50px 56px 50px;
    border-radius: 25px;
  }
}
