.not-found {
  padding: 0 100px 0 100px;
  .contain-not-found {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .first_element{
      text-align: center;
    }

    h2 {
      font-size: 263px;
    }

    p {
      font-size: 36px;
    }

    .link-not-found {
      font-size: 18px;
      border-bottom: 1px solid;
    }
  }
}

@media only screen and (max-width: 700px) {
  .not-found{
    padding: 20px 19px 0 19px;

    .contain-not-found{

      h2{
        font-size: 96px;
      }

      p{
        font-size: 18px;
      }
      .link-not-found {
        font-size: 14px;
      }
    }
  }
}
