.profil {
  display: flex;
  align-items: center;

  p {
    width: 70px;
    margin-right: 10px;
  }
  .picture {
    img {
      max-width: 64px;
      max-height: 64px;
      border-radius: 50%;
    }
  }
}
.contain_stars {
  margin-top: 25px;
}

@media only screen and (max-width: 700px) {
  .profil {
    p {
      font-size: 12px;
      margin-right: 0px;
    }
    .picture {
      img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }
  .contain_stars {
    margin-top: 0px;

      span{
        height: 48px;
      }
  }
}
